
<style>

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .user-show-page {
    width: 900px;
    margin: auto;
  }

  .user-sidebar {
    float: left;
    width: 200px;
    margin: 20px;
  }


  .user-show-page h1 {
    font-size: 36px;
    display: inline;
    /*width: 150px;*/
    font-weight: bold;
    color: #000;
    /*color: #009900;*/
    color
    float: left;
    /*padding: 5px;*/
    /*padding-bottom: 0px;*/
    text-shadow: 0px 0px 2px #ffc31c;
    /*background: #009900;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ffc31c;*/
  }

  .user-show-page h1:after {
    width: 200px;
    content: "";
    display: block;
    border: 1px solid #ffc31c;
    margin-top: 2px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px #000;
  }

  .user-show-avatar {
    display: block;
    width: 200px;
    heigth: 250px;
    border: 1px solid #ccc;
    float: left;
  }

  .user-prof-options {
    float: left;
    padding: 5px 0px;
  }

  .user-prof-options li {
    float: left;
    display: block;
    width: 200px;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
  }

  .user-prof-options strong {
    font-size: 18px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    color: #878787;
  }

  .avatar-input {
    padding: 0px;
    width: 180px;
    height: 20px;

  }




  .user-show-main-content {
    width: 630px;
    float: left;
    display: block;
    padding: 15px;
  }



  .user-show-main-content li {
    padding: 10px;
    border-top: 1px solid #ccc;
    cursor: pointer;

  }

  .user-show-main-content li:last-child {
    border-bottom: 1px solid #ccc;
  }

  .user-show-main-content li:hover {
    background: #d6d4bf;


  }


  .user-show-main-content ul {
    display: block;
    float: left;
    width: 420px;

  }

  .image-button {
    background: #d8d6bf;
    background:  #878787;
    border-radius: 5px;
    float: left;
    display: inline;
    padding: 3px;
    margin-right: 35px;
    height: 20px;
    cursor: pointer;

  }

  /*.cancel {
    padding: 3px;

  }*/


  h2 {
    display: inline;
    padding: 20px 0px;
    font-size: 30px;
    float: left;
  }


  .about-edit {
    color: #878787;
    font-size: 12px;
    display: block;
    float: right;
    padding: 0px;
    border: none;
    cursor: pointer;
    margin-top: -5px;
  }


  .avatar-header {
    border-bottom: none!important;

  }

</style>

<main class="user-show-page group">



  <section class="user-sidebar group">

    <h1 class="user-show-name">
      <%= user.escape('username') %>
    </h1>
    <div class="user-show-avatar">
      <img src="<%= user.get("avatar") %>" alt="avatar">
    </div>

    <ul class="user-prof-options group">
      <li>
        <form class="avatar-form">
        <strong class="avatar-header">Change Avatar</strong>
        <input type="file" name="user[avatar]" id="input-user-avatar"
        class="avatar-input">
        <img src="" class="preview-user-avatar">
        <button class="save-avatar image-button"> Save </button>
        <div class="cancel image-button">Cancel</div>
      </form>
      </li>
      <li>
        <strong> About <%=user.escape('username') %>
          <% if (Cicadas.currentUser.id == user.id) { %>
            <div class="about-edit">Click to edit</div>
          <% } %>

        </strong>
        <p>
          Born in the south land,<br>
          some twenty odd years ago...
        </p>
      </li>

    </ul>
  </section>

  <section class="user-show-main-content group">

    <h2>Uploaded Texts</h2>

    <ul>
    <% user.uploadedTexts().each(function (text) { %>
      <li>
        <a href="#/texts/<%=text.escape('id')%>"><%=text.escape('title')%>
        </a>
      </li>
      <%})%>
    </ul>

  </section>



</main>
