
<style>

  .user-show-page img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .avatar-image {
    height: 300px!important;
  }

  .user-show-page {
    width: 1010px;
    margin: auto;
    padding: 20px 0px;
  }

  .user-sidebar {
    float: left;
    width: 330px;
    margin: 20px;
  }




  .user-show-page h1 {
    font-size: 36px;
    display: inline;
    font-weight: bold;
    color: #000;
    color
    float: left;
    text-shadow: 0px 0px 2px #ffc31c;

  }

  .user-show-page h1:after {
    width: 250px;
    content: "";
    display: block;
    border: 1px solid #ffc31c;
    margin-top: 2px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px #000;
  }

  .user-show-avatar {
    display: block;
    width: 250px;
    heigth: 350px;
    border: 1px solid #ccc;
    float: left;
  }

  .user-prof-options {
    float: left;
    padding: 5px 0px;
  }

  .user-prof-options li {
    float: left;
    display: block;
    width: 250px;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
  }

  .user-prof-options strong {
    font-size: 18px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    color: #878787;
  }

  .avatar-input {
    padding: 0px;
    width: 180px;
    height: 20px;

  }




  .user-show-main-content {
    width: 600px;
    float: left;
    display: block;
    padding: 15px;
  }



  .user-show-main-content li {
    padding: 10px;
    border-top: 1px solid #ccc;
    cursor: pointer;

  }

  .user-show-main-content li:last-child {
    border-bottom: 1px solid #ccc;
  }

  .user-show-main-content li:hover {
    background: #d6d4bf;


  }


  .user-show-main-content ul {
    display: block;
    float: left;
    width: 550px;
    border-top: 2px solid #ccc;

  }

  .image-button {
    background: #d8d6bf;
    background:  #878787;
    background: #d6d4bf;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    display: inline;
    padding: 3px;
    margin-right: 35px;
    height: 20px;
    cursor: pointer;

  }


  h2 {
    display: inline;
    padding: 18px 5px;
    font-size: 30px;
    float: left;
  }


  .about-edit {
    color: #878787;
    font-size: 12px;
    display: block;
    float: right;
    padding: 0px;
    border: none;
    cursor: pointer;
    margin-top: -5px;
  }


  .avatar-header {
    border-bottom: none!important;

  }

</style>

<main class="user-show-page group">



  <section class="user-sidebar group">

    <h1 class="user-show-name">
      <%= user.escape('username') %>
    </h1>
    <div class="user-show-avatar">
      <img class="avatar-image" src="<%= user.get("avatar") %>" alt="avatar">
    </div>

    <ul class="user-prof-options group">
      <li>
        <form class="avatar-form">
        <strong class="avatar-header">Change Avatar</strong>
        <input type="file" name="user[avatar]" id="input-user-avatar"
        class="avatar-input">
        <img src="" class="preview-user-avatar">
        <button class="save-avatar image-button"> Save </button>
        <div class="cancel image-button">Cancel</div>
      </form>
      </li>
      <li>
        <strong> About <%=user.escape('username') %>
          <% if (Cicadas.currentUser.id == user.id) { %>
            <div class="about-edit">Click to edit</div>
          <% } %>

        </strong>
        <p class="about">
        <% if (user.escape('about') ) { %>
        <%= user.escape('about') %>
        <% } else { %>
          <%= user.escape('username') %> is keeping quiet for now
        <% } %>

        </p>
      </li>

    </ul>
  </section>

  <section class="user-show-main-content group">

    <h2>Uploaded Texts</h2>

    <ul>
    <% user.uploadedTexts().each(function (text) { %>
      <li>
        <a href="#/texts/<%=text.escape('id')%>"><%=text.escape('title')%>
        </a>
      </li>
      <%})%>
    </ul>

  </section>



</main>
