<style>



.background-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index:0;

}

.sign-in-background {
  width: 100%;
  height: 100%;
  position: absolute;

}


body {
  background: transparent;
}


.entry-form {
  width: 300px;
  padding: 20px;
  background: #049100;
  background: #3FC213;
  margin-top: 220px;
  margin: auto;
  z-index: 5;
  border: 1px solid #83A1E8;
  border-radius: 5px;
  color: white;
  opacity: 0.9;
  /*position: absolute;*/
}

.entry-form h1 {
  text-align: center;
  padding: 10px 0px;
  color: #ffc31c;
  color: #FFD714;
  font-weight: bold;
  font-size: 28px;
  text-shadow: 1px 1px 2px #ffc31c;
}


.entry-form input {
  display: block;
  border: 1px solid #000;
  background: #FFF7DF;
  height: 20px;
  width: 275px;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  margin-top: 5px;
}

.entry-form .form-propre {
  background: #3FE713;
  /*background: #3FC213;*/
  display: block;
  padding: 5px;
  margin-top: 20px;

}

.entry-form label {
  font-size: 16px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 2\1px #fff;

}

.entry-submit {
  margin: 10px 5px;
  padding: 4px;
  border: 1px solid #000;
  display: inline;
  border-radius: 3px;
  background: #3FC213;
}

.errors {
  text-align: center;
  font-size: 14px;
  color: blue;
}





</style>

<main class="entry">
  <div background-holder>
    <img class="sign-in-background" src='http://www.docsciences.fr/IMG/jpg/ds10_1_1.jpg'/>
  </div>

<%= render "/layouts/entry_header" %>


<form class="entry-form group" action="<%=users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <h1>SIGN UP</h1>


  <section class="form-propre">

  <div class="errors">
    <%= render "shared/errors" %>
  </div>

  <label>Username
   <input type=text name="user[username]" value="<%=@user.username%>">
  </label>
  <label>Email
   <input type="text" name="user[email]" value="<%=@user.email%>">
 </label>
  <label>Password
   <input type="password" name="user[password]" value="">
 </label>

  <button class="entry-submit">sign up</button>
</section>

</form>
<main>
