
<style>


.text-index-left img {
  width: 600px;
  height: 525px;
  margin-left: -50px;
  opacity: 0.6;
  transition: opacity 1.4s;

}


  .main-page img:hover {
    opacity: 1;
  }



  .image-from-postlet {
    margin-top: -50px;

  }

  .default-image {
    /*margin-top: -25px;*/

  }

  .postlet-crop {
    width: 500px;
    height: 300px;
    overflow: hidden;
    display: block;
    float: left;
    background-color: #000;
    border: 1px solid #8A8A8A;
    border: 1px solid #36648B;
    border: 1px solid #ccc;
    border: 1px solid #636363;
    /*background-image: url(<%= Cicadas.grid %>);*/

  }

  .main-postlet-title {
    float: left;
    display: block;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #636363;
  }

  .postlet-description {
    float: left;
    display: block;
    padding: 8px 0px;
    width: 480px;
    font-size: 16px;
    color: #696969;
    margin-bottom: 25px;

  }






</style>



<a href="/#/texts/<%=postlet.escape('text_id')%>">

  <div class="postlet-crop">
  <% if (!postlet.escape('image_url') ) { %>
      <img class="default-img" src="<%=Cicadas.boreas %>"/>
  <% } else { %>
    <img class="image-from-postlet" src='<%=postlet.get('image_url')%>'/>
  <% } %>
  </div>

  <h1 class="main-postlet-title">
    <%= postlet.escape('title') %> by <%= postlet.escape('author_name') %>
  </h1>
</a>
<p class="postlet-description">
    <%= postlet.escape('description')%>
</p>
