

<style>

.text-show-container {
  display: block;
  margin: auto;
  margin-left: 75px;
  border-left: 1px solid #ccc;
  padding-top: 20px;
}

.text-show-main {
  display: block;
  float: left;
  width: 659px;
  margin-left: 15px;
  /*margin-left: 75px;
  border-left: 1px solid #ccc;*/
}


.show-description {
  display: block;
  float: left;
  padding-right: 117px;
  padding-left: 10px;
  margin-top: 30px;
  border-left: 1px solid #ccc;

  width: 350px;
}

.text-show-body {
  font-size: 16px;
  padding: 5px 0px;
  padding-right: 15px;
}


.text-show-header {
  border-bottom: 1px solid #ccc;
}

.show-title {
  font-size: 28px;
  font-weight: 200px;
  padding-bottom: 5px;
}

.show-author {
  font-size: 20px;
  font-weight: 150px;
  padding-bottom: 5px;
}




</style>



<div class="text-show-container group">
<section class="text-show-main">
  <header class="text-show-header">
    <h1 class="show-title"> <%= @text.title %> </h1>
    <h3 class="show-author"> <%= @text.author.name %> </h3>
  </header>
  <nav class="text-show-nav">
  </nav>
  <section class="text-show-body">
    <%=@text.body %>
  </section>
</section>


<section class="show-description">

  <% if @text.descriptions.length > 0 %>
    <%= render "/api/descriptions/show", description: @text.descriptions[0] %>
  <% else %>
    <%= render "/api/descriptions/new", description: Description.new, text: @text  %>
  <% end %>
</section>



<section class="text-show-comment-form">
  <!-- insert comment form -->
</section>

</div>
