
<!-- Eventually make top bar toggle class between position fixed and relative when scroll
past a certain page -->

<style media="screen">

  .text-show-body .active {
    background: #ffc31c;
    -webkit-text-stroke: 1px black;
  }

  .annotation  {
    background: #e0dece;
    background: #d6d4bf;
    background: #d8d6bf;
  }

  .text-show-nav {
    /*margin-left: -15px;
    margin-bottom: 10px;*/
    /*For now, until more buttons added*/
    float: right;
    /*border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    /*margin-bottom: 10px;*/
    width: 600px;
    display: block;
  }

  .text-show-nav > li {
    display: block;
    padding: 5px 10px;
    float: right;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /*border-right: 1px solid #ccc;*/
  }

  .text-show-nav > li {
    -webkit-text-stroke: 1px black;
  }


  .text-show-body > a:hover {
    background: #ffc31c;
  }

  a.active {
    background: #ffc31c;
    webkit-text-stroke: 1px black;
  }

  .text-show-padding {
    display: block;
    background: transparent;
    padding: 20px;
  }

  .text-image-crop {
    display: block;
    height: 300px;
    width: 100%;
    background: #000;
    overflow: hidden;
    margin-top: -6px;
    background: #000;
    position: relative;
    opacity: 1;
    /*background-image: url(<%=text.get('image')%>);
    background-position: left 0px top -20px;
    background-size: 100% 300%;*/
    /*opacity: 0.6;*/
  }

  .text-image-crop:after {
    background-image: url(<%=text.get('image')%>);
    background-position: left 0px top -20px;
    background-size: 100% 300%;
    opacity: 0.6;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    content: "";


    }


  .image-border {
    width: 1010px;
    height: 300px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: 5;
    margin: auto;
    opacity: 1;
    position: relative;
  }



  .text-show-header {
    color: #fff;
    z-index: 10;
    opacity: 1;
    position: relative;
    padding-top: 200px;
    padding-left: 20px;

  }

  .show-title {
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 1px #ccc;
    padding-bottom: 35px;
  }

  .show-author {
    font-size: 24px;
    font-weight: 200px;
    padding-bottom: 2px;
    padding-left: 5px;
    -webkit-text-stroke: 1px #ccc;
  }

  .show-author > a:hover {
    text-shadow: 2px 2px 2px #ffc31c;
    -webkit-text-stroke: 1px #fff;

    cursor: pointer;
  }

  .other-crop {
    background: #000;
  }



</style>

<!-- <div class="text-show-padding"></div> -->
<div class="other-crop">
  <div class="text-image-crop">

    <div class="image-border">
  <header class="text-show-header">
    <h1 class="show-title"><%= text.escape('title') %></h1>
    <h3 class="show-author"><a href="/#/authors/<%=text.author().escape('id')%>"><%= text.author().escape('name')%></a></h3>
  </header>
    </div>
  </div>

</div>
<div class="text-show-container group">
<section class="text-show-main">



  <ul class="text-show-nav group">
      <li><button class="edit-text">Edit Text</button></li>
  </ul>
  <section class="text-show-body" font-family="sans-serif">
    <%=body%>
  </section>
  <div class="text-main-border-right">
  </div>
</section>


<section class="text-show-right-sidebar">
</section>

<section class="text-show-comment-form">
  <!-- insert comment form -->
</section>

</div>
